@font-face{
    font-family:'digital-clock-font';
    src: url('../fonts/digital-dream/DIGITALDREAMFATNARROW.ttf');
}

.section {
    border: gray 1px solid;
    padding: 10px 10px;
}

.timer-display {
    font-family: 'digital-clock-font', monospace;
    font-size: 120%;
}

#add-todo-field {
    width: 100%;
    margin-bottom: 8px;
}

.todo-list {
    margin-bottom: 8px;
}

.list-item {
    margin-top: 4px;
    margin-bottom: 4px;
}

.list-item input[type="checkbox"] {
    vertical-align: text-bottom;
}

.list-item label {
    margin-bottom: 0;
    margin-left: 6px;
}